# Dependencies
node_modules/

# Environment Variables
.env

# Uploads (Keep the directory, but ignore contents)
uploads/*
!uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
